<link rel="stylesheet" href="/src/partials/auth/auth.scss">
<section class="auth">
    <svg width="250" height="265" viewBox="0 0 250 265" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="61.5" y="165.5" width="127" height="73" fill="#D0CDCD" stroke="black"/>
        <rect x="101.5" y="0.5" width="47" height="264" fill="#D0CDCD" stroke="black"/>
        <rect x="0.5" y="59.5" width="249" height="39" fill="#D0CDCD" stroke="black"/>
        <rect x="61" y="200" width="1" height="25" fill="#D0CDCD"/>
        <rect x="102" y="99" width="6" height="165" fill="#B5B5B5"/>
        <rect x="62" y="166" width="6" height="72" fill="#B5B5B5"/>
        <rect x="102" y="1" width="6" height="58" fill="#B5B5B5"/>
        <rect x="1" y="60" width="9" height="38" fill="#B5B5B5"/>
        <rect x="149" y="166" width="6" height="72" fill="#B5B5B5"/>
        <rect x="113.05" y="145.05" width="3.9" height="13.9" fill="white" stroke="black" stroke-width="0.1"/>
        <rect x="113.05" y="138.05" width="3.9" height="3.9" fill="white" stroke="black" stroke-width="0.1"/>
        <rect x="113.05" y="162.05" width="3.9" height="14.9" fill="white" stroke="black" stroke-width="0.1"/>
        <rect x="113.05" y="181.05" width="3.9" height="46.9" fill="white" stroke="black" stroke-width="0.1"/>
        <path d="M18.5 46C18.5 41.3056 22.3056 37.5 27 37.5C31.6944 37.5 35.5 41.3056 35.5 46V59.5H18.5V46Z" fill="#D9D9D9" stroke="black"/>
        <path d="M20 42L21 40.5L21.5 40L22 39.5L22.5 39L24.5 38H26.5C21.5434 41.5 21.2776 50.8435 22 59H21.5H19V45.5C19 45.5 18.9512 44.7929 19 44.5C19.009 44.2901 19.4198 43.3586 19.5 43L20 42Z" fill="#B5B5B5"/>
        <path d="M18.5 46C18.5 41.3056 22.3056 37.5 27 37.5C31.6944 37.5 35.5 41.3056 35.5 46V59.5H18.5V46Z" stroke="black"/>
        <path d="M173.5 46C173.5 41.3056 177.306 37.5 182 37.5C186.694 37.5 190.5 41.3056 190.5 46V59.5H173.5V46Z" fill="#D9D9D9" stroke="black"/>
        <path d="M175 42L176 40.5L176.5 40L177 39.5L177.5 39L179.5 38H181.5C176.543 41.5 176.278 50.8435 177 59H176.5H174V45.5C174 45.5 173.951 44.7929 174 44.5C174.009 44.2901 174.42 43.3586 174.5 43L175 42Z" fill="#B5B5B5"/>
        <path d="M173.5 46C173.5 41.3056 177.306 37.5 182 37.5C186.694 37.5 190.5 41.3056 190.5 46V59.5H173.5V46Z" stroke="black"/>
        <path d="M60.5 46C60.5 41.3056 64.3056 37.5 69 37.5C73.6944 37.5 77.5 41.3056 77.5 46V59.5H60.5V46Z" fill="#D9D9D9" stroke="black"/>
        <path d="M62 42L63 40.5L63.5 40L64 39.5L64.5 39L66.5 38H68.5C63.5434 41.5 63.2776 50.8435 64 59H63.5H61V45.5C61 45.5 60.9512 44.7929 61 44.5C61.009 44.2901 61.4198 43.3586 61.5 43L62 42Z" fill="#B5B5B5"/>
        <path d="M60.5 46C60.5 41.3056 64.3056 37.5 69 37.5C73.6944 37.5 77.5 41.3056 77.5 46V59.5H60.5V46Z" stroke="black"/>
        <path d="M215.5 46C215.5 41.3056 219.306 37.5 224 37.5C228.694 37.5 232.5 41.3056 232.5 46V59.5H215.5V46Z" fill="#D9D9D9" stroke="black"/>
        <path d="M217 42L218 40.5L218.5 40L219 39.5L219.5 39L221.5 38H223.5C218.543 41.5 218.278 50.8435 219 59H218.5H216V45.5C216 45.5 215.951 44.7929 216 44.5C216.009 44.2901 216.42 43.3586 216.5 43L217 42Z" fill="#B5B5B5"/>
        <path d="M215.5 46C215.5 41.3056 219.306 37.5 224 37.5C228.694 37.5 232.5 41.3056 232.5 46V59.5H215.5V46Z" stroke="black"/>
        <line x1="225.304" y1="98.3969" x2="148.304" y2="157.397" stroke="black"/>
        <line y1="-0.5" x2="97.0052" y2="-0.5" transform="matrix(0.793772 0.608215 0.608215 -0.793772 25 98)" stroke="black"/>
        <path d="M199.597 89.389H193.474V88.5279L195.367 86.4724V79.139H187.412V87.2779L189.526 88.2779L189.124 89.389H183.001V88.5279L184.894 86.4724V69.6389L182.799 68.6667L183.202 67.5555H189.325V68.4167L187.412 70.4722V77.889H195.367V69.6389L193.273 68.6667L193.676 67.5555H199.799V68.4167L197.885 70.4722V87.2779L200 88.2779L199.597 89.389Z" fill="black"/>
        <path d="M174.918 78.7501C175.831 78.7501 176.549 78.4075 177.073 77.7223C177.61 77.0371 177.879 76.0927 177.879 74.8889C177.879 73.1852 177.563 71.7963 176.932 70.7222C176.314 69.6296 175.408 69.0833 174.213 69.0833C173.3 69.0833 172.467 69.4445 171.715 70.1667V87.1113L174.837 88.3057L174.434 89.4168H167.304V88.5557L169.198 86.5001V69.6111L167.103 68.6667L167.506 67.5556H169.842C171.145 67.5556 172.427 67.5 173.689 67.3889C174.629 67.3148 175.321 67.2778 175.764 67.2778C176.704 67.2778 177.536 67.5556 178.261 68.1111C179 68.6482 179.57 69.3982 179.973 70.3611C180.376 71.3241 180.578 72.3889 180.578 73.5556C180.578 74.8519 180.235 76.0741 179.55 77.2223C178.866 78.3704 177.993 79.2686 176.932 79.9168C175.871 80.5649 174.831 80.852 173.81 80.7779L172.863 79.8334L173.266 78.7223H174.898L174.918 78.7501Z" fill="black"/>
        <path d="M165.691 89.3891H159.568V88.528L161.461 86.5002L159.91 81.3613H153.142L151.491 86.6113L155.036 88.278L154.633 89.3891H148.51V88.528L150.403 86.4725L156.103 68.4445L158.198 67.0279L164.079 86.5836L166.093 88.278L165.691 89.3891ZM156.607 70.3612L153.545 80.1113H159.547L156.607 70.3612Z" fill="black"/>
        <path d="M148.196 89.4446H144.449L140.018 79.5834L139.072 78.639L139.374 77.8056H140.502C141.415 77.8056 142.133 77.4908 142.657 76.8612C143.194 76.213 143.462 75.3334 143.462 74.2223C143.462 72.7593 143.167 71.5463 142.576 70.5834C141.985 69.6019 141.126 69.1111 139.998 69.1111C139.246 69.1111 138.555 69.4167 137.924 70.0278V87.3335L140.038 88.3335L139.636 89.4446H133.512V88.5835L135.406 86.5279V69.6389L133.311 68.6945L133.714 67.5834H136.05C137.272 67.5834 138.474 67.5278 139.656 67.4167C140.515 67.3426 141.153 67.3056 141.569 67.3056C142.469 67.3056 143.268 67.5556 143.966 68.0556C144.678 68.5556 145.221 69.2315 145.597 70.0834C145.987 70.9352 146.182 71.8704 146.182 72.8889C146.182 73.8149 145.973 74.7038 145.557 75.5556C145.141 76.389 144.59 77.1205 143.906 77.7501C143.234 78.3612 142.522 78.8242 141.771 79.139L143.08 79.7501L146.202 86.6946L148.599 88.3335L148.196 89.4446Z" fill="black"/>
        <path d="M129.461 85.0001L130.005 86.1946L126.299 89.3335C125.735 89.5742 125.184 89.7317 124.647 89.8057C124.123 89.8983 123.559 89.9446 122.955 89.9446C121.465 89.9446 120.142 89.4724 118.987 88.5279C117.846 87.5835 116.953 86.2872 116.308 84.639C115.677 82.9723 115.362 81.0834 115.362 78.9723C115.362 76.8056 115.838 74.8056 116.792 72.9723C117.745 71.1204 118.934 69.6667 120.357 68.6111C121.78 67.537 123.136 67 124.426 67C125.191 67 126.084 67.1389 127.104 67.4167C128.125 67.6945 128.87 67.9907 129.34 68.3056V73.6945H128.575C127.232 70.7871 125.459 69.3334 123.257 69.3334C122.29 69.3334 121.411 69.6945 120.619 70.4167C119.827 71.1204 119.202 72.1111 118.746 73.3889C118.302 74.6482 118.081 76.0649 118.081 77.639C118.081 79.4538 118.296 81.1112 118.725 82.6112C119.169 84.1112 119.84 85.315 120.74 86.2224C121.639 87.1298 122.754 87.5835 124.083 87.5835C124.674 87.5835 125.164 87.5557 125.553 87.5002C125.943 87.4446 126.406 87.2687 126.943 86.9724V80.4168L123.841 79.2223L124.244 78.1112H131.374V78.9723L129.461 81.0557V85.0001Z" fill="black"/>
        <path d="M110.841 89.3893H98.756V88.5282L100.649 86.4726V69.6391L98.5546 68.6669L98.9574 67.5558H110.64L111.727 67.0558V73.4447L111.123 73.7225L108.726 68.8058H103.167V77.6114H106.329L107.8 74.0558H108.424V82.5003L107.618 83.0559L106.349 78.8614H103.167V88.1393H108.646L111.324 82.667L111.929 82.9448V89.8893L110.841 89.3893Z" fill="black"/>
        <path d="M95.0463 89.389H82.9614V88.5279L84.8547 86.4724V69.6389L82.76 68.6667L83.1628 67.5555H89.2858V68.4167L87.3724 70.4722V88.139H92.5689L95.5297 82.1112L96.134 82.389V89.889L95.0463 89.389Z" fill="black"/>
        <path d="M78.642 89.3893H66.557V88.5282L68.4503 86.4726V69.6391L66.3556 68.6669L66.7584 67.5558H78.4405L79.5282 67.0558V73.4447L78.9239 73.7225L76.5271 68.8058H70.968V77.6114H74.1302L75.6006 74.0558H76.225V82.5003L75.4193 83.0559L74.1504 78.8614H70.968V88.1393H76.4465L79.1254 82.667L79.7296 82.9448V89.8893L78.642 89.3893Z" fill="black"/>
        <path d="M63.938 74.0003L63.3337 74.278L60.6549 68.8058H58.1976V87.2781L60.3125 88.2782L59.9097 89.3893H53.7866V88.5282L55.6799 86.4726V68.8058H53.2831L50.6042 74.278L50 74.0003V67.0558L51.0876 67.5558H62.8503L63.938 67.0558V74.0003Z" fill="black"/>
    </svg>

    {{#> form/form authLink=true disabledLink=false }}
        {{#each inputs }}
            {{> input/input }}
        {{/each}}
        {{#> button/button class='success' }}Регистрация{{/button/button }}
    {{/form/form }}

</section>
